/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ececec;
}

html, body, button, a, input {
    height: 100%;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

/* navigation bar */
.logo {
    width: auto;
    height: 20px;
    cursor: pointer;
    margin: 27px 30px;
    margin-bottom: 22px;
}

.nav-fixed {
    width: 100%;
    position: fixed;
    margin: 0px;
    z-index: 1;
}

.navbar {
    display: flex;
    background-color: #2C3539;
    align-items: center;
    justify-content: center;
}

/* settings right menu bar */
ul {
    list-style-type: none;
    margin: 0px;
    margin-top: 16px;
    padding: 0px;
    padding-top: 60px;
    width: 200px;
    background-color: #525b5f;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #d4d4d4;
    padding: 16px 18px;
    text-decoration: none;
}

li a:hover {
    background-color: #2C3539;
    color: white;
}

.current {
    background-color: #393f42;
    color: white;
}

/* content in settings */
.rightcontent {
    padding-top: 100px;
    padding-bottom: 85px;
    margin-top: 0px;
    max-width: 500px;
    margin-left: 240px;
    margin-right: 30px;
    position: static;
}

h3 {
    margin: 40px 0px 10px;
}

/* my question bank delete button */
#btn {
    background-color: #045F5F;
    width: 180px;
    border: 1px;
    border-radius: 8px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

#btn:hover {
    background-color: #033E3E;
}

.container {
    margin: 25px 0px;
}